<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="OgrenciPortal.Provider.Properties.Settings.cnsString"
            connectionString="Data Source=94.102.1.78;Initial Catalog=OgrenciProject;User ID=sa;Password=123qwe**"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>